@use "../base.scss";
@use "../variables.scss" as *;

$color-base: #262626;

/*----infobox callout----*/
.callout[data-callout="infobox"] {
  border: 0;
  margin: 0px 0px 0.5rem 0.5rem;
  padding: 0;
  border-radius: 5px;
  background: var(--lightgray);
  box-shadow: unset;
  float: right;
  width: 300px;
}

/* mobile breakpoint */
@media (max-width: 767px) {
  .callout[data-callout="infobox"] {
    width: 100%;
    float: none;
  }
}

@media (max-width: 480px) {
  .callout[data-callout="infobox"] {
    width: 100%;
    float: none;
  }
}

/* stack infoboxes vertically with 'clear' */
.callout[data-callout="infobox"] {
  clear: right;
}

/* Remove Callout Title */
.callout[data-callout="infobox"] > .callout-title {
  display: none;
}
.callout[data-callout="infobox"] > .callout-content {
  display: contents;
}
.callout[data-callout="infobox"] > .callout-content::before {
  display: none;
}
.callout[data-callout="infobox"] > .callout-content > p:only-child {
  margin-block: 0;
}

/* Inner Callout */
.callout[data-callout="infobox"] .callout {
  margin: 0;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1rem;
}
.callout[data-callout="infobox"] .callout .callout-icon {
  display: none;
}
.callout[data-callout="infobox"] .callout .callout-title {
  padding: 0;
}
.callout[data-callout="infobox"] .callout > .callout-content > p {
  margin: 0;
}

/* Image */
.callout[data-callout="infobox"] p:has(img) {
  margin: 0;
}
.callout[data-callout="infobox"] img {
  display: block;
  margin: 0;
  max-width: 100%;
  border-radius: 0;
}

/* Table */
.callout[data-callout="infobox"] table {
  margin: 0.3rem 0;
  width: 100%;
}
.callout[data-callout="infobox"] table tr {
  border: none;
}
.callout[data-callout="infobox"] table tr th {
  display: none;
}
.callout[data-callout="infobox"] table tr td {
  border: none;
  vertical-align: top;
  padding: 0 1rem;
}
.callout[data-callout="infobox"] table tr td:first-child {
  width: 25%;
}
.callout[data-callout="infobox"] table tr td:not(:first-child) {
  width: 75%;
}
